
                            #
                             Данные PostgreSQL и Redis

docker/postgres-data/
docker/redis-data/


                            #
                             Gradle

build/
.gradle/


                            #
                             IDE

.idea/
.idea/*
*.iml
.vscode/

# Скомпилированные классы (Eclipse, IntelliJ)
bin/


                            #
                             OS

.DS_Store


                            #
                             ⚠️ ВАЖНО: Локальные секреты для разработки


secret.properties


                            #
                             Логи

logs/
*.log

